.navbar-dropdown .icon {
    padding-right: 10px;
}

/* Style pour le logo dans la section hero */

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}


.hero img {
    max-width: 160px;
}

.emoticon { 
    white-space: pre; 
}